In [5]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
cd drive/

/content/drive

In [4]:
cd MyDrive/

/content/drive/MyDrive

In [12]:
filename = 'yonelimfinal.csv'
df = pd.read_csv(filename, delimiter=';', index_col=0)

In [13]:
df.columns

Index(['Cinsiyet', 'Yas', 'Bolge', 'Egitim', 'soru1', 'soru2', 'soru3',
       'soru4', 'soru5', 'soru6', 'soru7', 'soru8', 'soru9', 'soru10',
       'parti'],
      dtype='object')

In [14]:
df.head()

,Cinsiyet,Yas,Bolge,Egitim,soru1,soru2,soru3,soru4,soru5,soru6,soru7,soru8,soru9,soru10,parti
ï»¿Timestamp,,,,,,,,,,,,,,,
5.11.2018 1:26:14,Erkek,18-30,Marmara,Lisans,Hayır,Evet,Evet,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,IYI PARTI
5.11.2018 1:28:11,Erkek,18-30,Marmara,Lisans,Evet,Evet,Hayır,Evet,Hayır,Evet,Hayır,Evet,Hayır,Hayır,AKP
5.11.2018 1:28:26,Kadın,18-30,Marmara,Lisans,Hayır,Evet,Hayır,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,Diğer
5.11.2018 1:30:18,Erkek,0-18,Marmara,Lise,Evet,Evet,Hayır,Evet,Hayır,Evet,Evet,Evet,Evet,Evet,IYI PARTI
5.11.2018 1:30:21,Erkek,18-30,Marmara,Ön lisans,Hayır,Evet,Evet,Evet,Hayır,Hayır,Evet,Evet,Hayır,Hayır,IYI PARTI

In [15]:
df.tail()

,Cinsiyet,Yas,Bolge,Egitim,soru1,soru2,soru3,soru4,soru5,soru6,soru7,soru8,soru9,soru10,parti
ï»¿Timestamp,,,,,,,,,,,,,,,
5.22.2018 21:17:09,Erkek,0-18,Güneydoğu,Lise,Hayır,Evet,Hayır,Evet,Hayır,Evet,Hayır,Evet,Evet,Evet,Diğer
5.23.2018 9:05:59,Erkek,0-18,Marmara,Lise,Hayır,Evet,Evet,Hayır,Hayır,Evet,Evet,Evet,Evet,Evet,IYI PARTI
5.25.2018 19:56:24,Erkek,30-50,Marmara,Lisans üstü,Hayır,Evet,Evet,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,Diğer
5.26.2018 2:36:32,Erkek,18-30,Marmara,Lise,Hayır,Evet,Evet,Evet,Hayır,Hayır,Evet,Hayır,Evet,Evet,Diğer
5.27.2018 2:20:17,Erkek,18-30,Akdeniz,Lise,Evet,Evet,Hayır,Hayır,Hayır,Hayır,Evet,Hayır,Evet,Evet,CHP

In [16]:
df.dtypes

Cinsiyet    object
Yas         object
Bolge       object
Egitim      object
soru1       object
soru2       object
soru3       object
soru4       object
soru5       object
soru6       object
soru7       object
soru8       object
soru9       object
soru10      object
parti       object
dtype: object

In [17]:
df.describe()

,Cinsiyet,Yas,Bolge,Egitim,soru1,soru2,soru3,soru4,soru5,soru6,soru7,soru8,soru9,soru10,parti
count,885,885,885,885,885,885,885,885,885,885,885,885,885,885,885
unique,2,5,7,6,2,2,2,2,2,2,2,2,2,2,6
top,Erkek,0-18,Marmara,Lise,Hayır,Evet,Evet,Evet,Hayır,Hayır,Evet,Hayır,Evet,Evet,IYI PARTI
freq,807,389,437,532,560,837,485,515,836,633,746,600,617,687,264

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 885 entries, 5.11.2018 1:26:14 to 5.27.2018 2:20:17
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Cinsiyet  885 non-null    object
 1   Yas       885 non-null    object
 2   Bolge     885 non-null    object
 3   Egitim    885 non-null    object
 4   soru1     885 non-null    object
 5   soru2     885 non-null    object
 6   soru3     885 non-null    object
 7   soru4     885 non-null    object
 8   soru5     885 non-null    object
 9   soru6     885 non-null    object
 10  soru7     885 non-null    object
 11  soru8     885 non-null    object
 12  soru9     885 non-null    object
 13  soru10    885 non-null    object
 14  parti     885 non-null    object
dtypes: object(15)
memory usage: 142.9+ KB

In [18]:
df.shape

(885, 15)

In [19]:
print(df.Bolge.unique())

['Marmara' 'Güneydoğu' 'Akdeniz' 'Doğu Anadolu' 'İç Anadolu' 'Karadeniz'
 'Ege']

In [20]:
print(df.Egitim.unique())

['Lisans' 'Lise' 'Ön lisans' 'Lisans üstü' 'İlkokul' 'Ortaokul']

In [21]:
print(df.Yas.unique())

['18-30' '0-18' '60+' '30-50' '50-60']